*.pyc
*.swp
*~
~$*
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.projectmgr
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xbcd
*.xpi
*.xreport
*.xrpt
*.xst