
# PlanAhead Generated physical constraints 

NET "CLK_0" LOC = B9;

# hand-click
NET "hclk" LOC = U9;
NET "reset" LOC = U10;

NET "Hs" LOC = D6;
NET "Vs" LOC = E6;
NET "B[2]" LOC = B6;
NET "B[1]" LOC = A6;
NET "B[0]" LOC = D5;
NET "G[2]" LOC = C5;
NET "G[1]" LOC = C4;
NET "G[0]" LOC = B4;
NET "R[2]" LOC = A4;
NET "R[1]" LOC = C3;
NET "R[0]" LOC = A7;
